@model List<cw8_mvc_files.Models.Fish>
<h1>Lista ryb w jeziorze</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Gatunek</th>
            <th>Wiek (lata)</th>
            <th> ----- </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fish in Model)
        {
            <tr>
                <td>@fish.Id</td>
                <td>@fish.Name</td>
                <td>@fish.Species</td>
                <td>@fish.Age</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteFish" asp-route-id="@fish.Id">Usuń</a>
                    <a class="btn btn-warning" asp-action="EditFish" asp-route-id="@fish.Id">Edytuj</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
