@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Informacje u użytkowniku na dzień: @DateTime.Now.ToShortDateString()</h1>
    <p>Id: @Model.Id</p>
    <p>Imię: @Model.FirstName</p>
    <p>Nazwisko: @Model.LastName</p>
    <p>Data urodzenia: @Model.BirthDate.ToShortDateString()</
</body>
</html>